/* .modal {
  display: block; 
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
} */
/*  */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: "Press Start 2P", sans-serif;
}

#container {
  display: flex;
  width: 100%;
  height: 100%;
}

#left-side,
#right-side {
  border: 5px solid white;
  flex: 1;
}

#left-side {
  flex: 1;
  border-right: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#stats {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

#stats h2 {
  margin: 0;
  margin-bottom: 10px;
}

#stats p {
  margin: 5px 0;
}

#right-side {
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#menu button {
  background-color: white;
  border: 2px solid white;
  color: black;
  padding: 10px 20px;
  font-family: "Press Start 2P", cursive;
  font-size: 1em;
  cursor: pointer;
}

#menu button:not(:disabled):hover {
  background-color: #eee;
}

#menu button:disabled {
  /* background-color: #6c757d; */
  cursor: not-allowed;
  opacity: 0.6;
  color: grey;
}

#middle {
  /* border: 1px solid blue; */
  border: 5px solid white;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-title {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Press Start 2P", sans-serif;
  font-size: 2em;
  color: white;
  width: 400px;
  margin-bottom: 10px;
  overflow: hidden;
}

#game-title span {
  display: inline-block;
}
